{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <h1>0x00 Home page</h1>
    <!-- Projects -->
    <h2>New Projects</h2>
    <ul>
        {% for project in new_projects %}
            <li>
                <a href="{{ project.link }}">{{ project.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <!-- Articles -->
    <h2>New Articles</h2>
    <ul>
        {% for article in new_articles %}
            <li>
                <a href="{{ article.link }}">{{ article.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <!-- Medias -->
    <h2>Medias</h2>
    <ul>
        {% for media in medias %}
            <img class="media-image"
            onclick="window.location.href='{{ media.url }}'" src="{{ media.image.url }}" alt="{{ media.title }}" 
            style="width: 5%; height: 10%; padding: 5px; cursor: pointer;" />
        {% endfor %}
    </ul>
{% endblock %}