<nav>
    <a href="/">Home</a> |
    <a href="{% url 'projects:projects' %}">Projects</a> |
    <a href="{% url 'mainapp:resume' %}">Resume</a> |
    <a href="{% url 'articles:articles' %}">Articles</a> |
    <a href="{% url 'mainapp:about' %}">About</a> |
    <a href="{% url 'mainapp:experience' %}">Experience</a> |
    ___________________________________________________________________________________________________________________________________________________________________________________________________________________________
</nav>