{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block body %}
<style>
    .technology {
        background-color: yellowgreen;
        color: black;
        padding: 5px;
        margin: 5px;
    }
</style>
    <h1>My projects</h1>
    {% for project in projects %}
    <div class="box"> 
        <h2>{{ project.title }}</h2>
        <p>{{ project.description  }}</p>
        <a href="{{ project.url }}">Link to project</a>
        <!-- Category -->
        <p>Category: {{ project.category }}</p>
        <!-- Technologies -->    
        Technologies used:
        {% for technology in project.technologies.all %}
            <a class="technology" href="{% url 'projects:technology' slug=technology.slug %}">{{ technology }}</a>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}