{% extends "base.html" %}
{% block title %}{% endblock %}
{% block body %}
    <h1>My articles</h1>
    {% for article in articles %}
    <div class="box"> 
        <h2>{{ article.title }}</h2>
        <p>{{ article.description | truncatechars:30 }}</p>
        <a href="{% url 'articles:article' slug=article.slug %}">Link to article</a>
        <small>Published on {{ article.date }}</small>
    </div>
    {% endfor %}

    {% if articles.has_previous %}
            <a href="?page=1">&laquo; 1</a>
            <a href="?page={{ articles.previous_page_number }}">{{ articles.previous_page_number }}</a>
    {% endif %}

{% endblock %}